name: Code quality

on:
  push:
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout 
        uses: actions/checkout@v6
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.7
      - run: bun install
      - run: bun ci
